* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     border: none;
     list-style-type: none;
}

body {
     /* overflow: hidden; */
     font-family: 'Inter', sans-serif;
     background-color: #f1f1f1;
     position: relative;
}

.overlay {
     display: none;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     /* background-color: rgba(128, 128, 128, 0.469); */
}

.overlay_hidden {
     display: block;
}

.onboard_container {
     display: flex;
     height: 100vh;
     padding-bottom: 0px;
     flex-direction: column;
}

.nav {
     display: flex;
     width: 100%;
     height: 10vh;
     padding: 12px 16px;
     justify-content: space-between;
     align-items: center;
     background: var(--grey-grey-300, #1a1a1a);
}

/* LOGO */
.shopify_logo {
     width: 83.72px;
     height: 24px;
}

.shopify_logo-sm {
     display: none;
}

/* SEARCH COMPONENTS */
.search_component {
     display: flex;
     width: 480px;
     height: 32px;
     padding: 8px;
     align-items: center;
     gap: 6px;
     flex-shrink: 0;
     border-radius: 8px;
     border: 1px solid var(--stroke-s-200, #616161);
     background: var(--grey-g-200, #303030);
}

.search_component-input {
     width: 100%;
     background: none;
     outline: none;
     color: var(--grey-g-100, #b5b5b5);
     font-family: Inter;
     font-size: 13px;
     font-style: normal;
     font-weight: 500;
     line-height: 140%;
}

.search_component-hover {
     border-radius: 8px;
     border: 1px solid var(--stroke-s-100, #e1e1e1);
     background: var(--grey-g-200, #303030);
}

.search_component-pressedAndFocus {
     border-radius: 8px;
     border: 2px solid var(--White, #fff);
     background: var(--grey-g-200, #303030);
}

/* NOTIFICATION */
.alerts_store {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 16px;
}

.alerts {
     position: relative;
}

.alerts_btn {
     display: inline-flex;
     padding: 6px;
     align-items: center;
     gap: 8px;
     border-radius: 8px;
     background: var(--grey-g-200, #303030);
     cursor: pointer;
}

.alerts_btn svg {
     width: 20px;
     height: 20px;
}

.alerts_component {
     position: absolute;
     top: 90px;
     right: 20px;
     width: 400px;

     display: none;
     padding: 16px;
     border-radius: 14px;
     border: 1px solid var(--stroke-s-50, #dbdbdb);
     background: var(--White, #fff);
     box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

.alert-box-show {
     display: flex;
     flex-direction: column;
     gap: 16px;
}

.alerts_component-top {
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.alerts_component-top h3 {
     color: var(--font-dark, var(--grey-g-200, #303030));
     font-family: Inter;
     font-size: 14px;
     font-style: normal;
     font-weight: 600;
     line-height: 140%;
}

.alerts_action {
     display: flex;
     align-items: flex-start;
     gap: 16px;
}

.alerts_action svg {
     width: 20px;
     height: 20px;
}

.alerts_component_btn svg:last-child:focus {
     stroke-width: 1px;
     stroke: var(--states-focused, #005bd3);
}

.alert_component-bottom {
     width: 100%;
     display: flex;
     padding: 16px;
     justify-content: center;
     align-items: center;
     gap: 8px;
     background: var(--states-hover, #f1f1f1);
     color: var(--font-mid-2, #616161);

     font-size: 13px;
     font-style: normal;
     font-weight: 600;
     line-height: 140%;
}

.alerts_btn-hover {
     background: #616161;
}

.alert_btn:focus {
     outline: 2px solid #005bd3;
     outline-offset: 1px;
     border-radius: 8px;
     background: var(--grey-grey-50, #656266);
}

.alerts_btn-focus {
     outline: 2px solid #005bd3;
     outline-offset: 1px;
     border-radius: 8px;
     background: var(--grey-grey-50, #656266);
}

/* STORE */
.store {
     position: relative;
}

.store_name {
     display: inline-flex;
     padding: 2px 2px 2px 8px;
     align-items: center;
     gap: 8px;
     border-radius: 8px;
     background: var(--grey-g-200, #303030);
     cursor: pointer;
}

.store-name:focus {
     border-radius: 8px;
     background: var(--grey-grey-50, #656266);
     border: 10px solid #005bd3;
     outline: none !important;
}

.store_tab {
     display: none;

     position: absolute;
     top: 90px;
     right: 20px;
     width: 320px;
     padding: 6px 0px;
     flex-direction: column;
     align-items: flex-start;
     gap: 4px;
     border-radius: 14px;
     border: 1px solid var(--stroke-s-50, #dbdbdb);
     background: var(--White, #fff);
     box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

.store_tab-toggle {
     display: block;
}

.store_tab button {
     background: none;
}

.store_tab button:hover {
     font-size: 13.5px;
     background: var(--states-hover, #f1f1f1);
}

.store_tab-bottom button:first-child:hover {
     font-size: 13px;
     background: none;
}

.store_tab-top {
     width: 100%;
     padding: 0 10px 3px 10px;
     display: flex;
     flex-direction: column;
     gap: 4px;
}

.store_tab-top-btn-1 {
     display: flex;
     padding: 4px 12px 4px 8px;
     justify-content: space-between;
     align-items: center;
     align-self: stretch;

     border-radius: 8px;
     background: var(--states-hover, #f1f1f1) !important;
}

.store_tab-top-btn-1 .store-name {
     display: flex;
     align-items: center;
     gap: 8px;
}

.store_tab-top-btn-1 .store-name div:first-child {
     display: flex;
     padding: 10px;
     justify-content: center;
     align-items: center;
     border-radius: 5.25px;
     background: #36fba1;
     color: rgba(0, 0, 0, 0.4);
     text-align: center;
     font-family: Inter;
     font-size: 10.5px;
     font-style: normal;
     font-weight: 500;
}

.store_tab-top-btn-1 .store-name div:last-child {
     color: var(--font-dark, var(--grey-g-200, #303030));

     font-family: Inter;
     font-size: 13px;
     font-style: normal;
     font-weight: 600;
     line-height: 140%;
}

.store_tab-top-btn-1 svg {
     width: 16px;
     height: 16px;
}

.store_tab-top-btn-2 {
     display: flex;
     padding: 6px;
     align-items: center;
     gap: 8px;
     align-self: stretch;
     border-radius: 8px;
}

.store_tab-top-btn-2 svg {
     width: 20px;
     height: 20px;
     flex-shrink: 0;
}

.store_tab-top-btn-2 span {
     color: var(--font-dark, var(--grey-g-200, #303030));
     font-family: Inter;
     font-size: 13px;
     font-style: normal;
     font-weight: 400;
     line-height: 140%;
}

.store_tab-middle,
.store_tab-bottom {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: start;
     border-top: 1px solid #e1e1e1;
     padding: 2px 0;
}

.store_tab-middle button,
.store_tab-bottom button {
     display: flex;
     padding: 6px;
     margin: 0px 4px;
     align-items: center;
     gap: 8px;
     align-self: stretch;
     border-radius: 8px;

     color: var(--font-dark, var(--grey-g-200, #303030));
     font-family: Inter;
     font-size: 13px;
     font-style: normal;
     font-weight: 400;
     line-height: 140%;
}

.store_tab-bottom button:first-child {
     display: flex;
     flex-direction: column;
     align-items: start;
}

.store_tab-bottom button span:first-child {
     color: var(--font-dark, var(--grey-g-200, #303030));
     font-family: Inter;
     font-size: 13px;
     font-style: normal;
     font-weight: 500;
}

.store_tab-bottom button span:last-child {
     color: var(--grey-grey-100, var(--font-mid-2, #616161));
     font-family: Inter;
     font-size: 12px;
     font-style: normal;
     font-weight: 400;
     margin-top: -7px;
}

.store_tab-bottom button:focus,
.store_tab-middle button:focus,
.store_tab-top button:focus {
     border: 2px solid #005bd3;
     border-radius: 8px;
}

.store_item_focus {
     outline: 2px solid #005bd3;
     outline-offset: 2px;
     border-radius: 8px;
     background: var(--grey-grey-50, #656266);
}

.store_name-hover {
     border-radius: 8px;
     background: var(--font-mid-2, #616161);
}

.store_name span:first-child {
     color: var(--font-light, #e3e3e3);
     font-size: 12px;
     font-style: normal;
     font-weight: 500;
     line-height: 130%;
}

.store_name span:last-child {
     display: flex;
     height: 28px;
     padding: 9px 5px 10px 5px;
     justify-content: center;
     align-items: center;
     border-radius: 6px;
     background: #36fba1;
}

/* TOP NAVIGATION MOBILE SCREEN */
@media screen and (max-width: 900px) {
     .shopify_logo-lg {
          display: none;
     }

     .shopify_logo {
          width: 32px;
          height: 32px;
     }

     .shopify_logo-sm {
          display: block;
     }

     .search_component {
          width: 222px;
     }

     .notification_store {
          gap: 3px;
     }

     .notification_btn {
          background: none;
     }

     .store_name {
          background: none;
     }

     .store_name-hover {
          background: none;
     }

     .store_name span:first-child {
          display: none;
     }
}
