* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     border: none;
     list-style-type: none;
     text-decoration: none;
}

body {
     font-family: 'Inter', sans-serif;
     background-color: #f1f1f1;
}

:focus {
     outline: 2px solid #005bd3;
     outline-offset: 2px;
     border-radius: 8px;
}

.mark_done_focus:focus-visible {
     outline: 2px solid #005bd3;
     outline-offset: 2px;
     border-radius: 8px;
}

.rotate {
     animation: rotateAnimation 700ms linear infinite;
}

@keyframes rotateAnimation {
     from {
          transform: rotate(0);
     }

     to {
          transform: rotate(360deg);
     }
}

@keyframes component {
     from {
          transform: translateY(50px);
          opacity: 0.1;
     }

     to {
          transform: translateY(0);
          opacity: 1;
     }
}

@keyframes completedAnimation {
     from {
          transform: scale(0.2) rotate(270deg);
          opacity: 0;
     }

     to {
          transform: scale(1) rotate(360deg);
          opacity: 1;
     }
}

.onboard_container {
     height: 100vh;
     display: flex;
     padding-bottom: 0px;
     flex-direction: column;
}

.nav {
     display: flex;
     padding: 12px 16px;
     justify-content: space-between;
     align-items: center;
     background: #1a1a1a;
}

/* LOGO */
.shopify_logo {
     width: 104.868px;
     height: 30px;
}

.shopify_logo-sm {
     display: none;
}

/* SEARCH COMPONENTS */
.search_component {
     display: flex;
     width: 480px;
     height: 32px;
     padding: 8px;
     align-items: center;
     gap: 6px;
     border-radius: 8px;
     border: 1px solid #616161;
     background: #303030;
     transition: all 0.4s ease-in-out;
}

.search_component-input {
     width: 100%;
     background: none;
     outline: none;
     color: #b5b5b5;
     font-size: 13px;
     font-style: normal;
     font-weight: 500;
     line-height: 140%;
}

.search_component-hover {
     border-radius: 8px;
     border: 1px solid #e1e1e1;
     background: #303030;
}

.search_component-pressedAndFocus {
     border-radius: 8px;
     border: 2px solid #fff;
     background: #303030;
}

/* NOTIFICATION */
.alerts_store {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 16px;
}

.alerts {
     position: relative;
}

.alerts_btn {
     display: inline-flex;
     padding: 6px;
     align-items: center;
     gap: 8px;
     border-radius: 8px;
     background: #303030;
     cursor: pointer;
}

.alerts_btn svg {
     width: 20px;
     height: 20px;
}

.alerts_component {
     position: absolute;
     top: 70px;
     right: -150px;
     width: 400px;

     display: none;
     padding: 16px;
     flex-direction: column;
     align-items: flex-start;
     gap: 16px;
     border-radius: 14px;
     border: 1px solid #dbdbdb;
     background: #fff;
     box-shadow: 0px 4px 8px 0px #0000000d;
     transition: all 2s ease-in-out;
     animation: component 1s ease-in-out;
}

.alert-box-show {
     display: flex;
     flex-direction: column;
     gap: 16px;
}

.alerts_component-top {
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     align-self: stretch;
}

.alerts_component-top h3 {
     color: #303030;
     font-family: Inter;
     font-size: 14px;
     font-style: normal;
     font-weight: 600;
     line-height: 140%;
}

.alerts_action {
     display: flex;
     align-items: flex-start;
     gap: 16px;
}

.alert_component-bottom {
     display: flex;
     padding: 16px;
     align-items: center;
     gap: 8px;
     background: #f1f1f1;
     color: #616161;

     font-size: 13px;
     font-style: normal;
     font-weight: 600;
     line-height: 140%;
}

.alerts_btn-hover {
     background: #616161;
}

.alert_btn:focus {
     outline-offset: 1px;
     border-radius: 8px;
     background: #656266;
}

.alerts_btn-focus {
     outline: 2px solid #005bd3;
     outline-offset: 1px;
     border-radius: 8px;
     background: #656266;
}

/* STORE */
.store {
     position: relative;
}

.store_btn {
     display: inline-flex;
     padding: 2px 2px 2px 8px;
     align-items: center;
     gap: 8px;
     border-radius: 8px;
     background: #303030;
     cursor: pointer;
}

.store-name:focus {
     border-radius: 8px;
     background: #656266;
     border: 10px solid #005bd3;
     outline: none;
}

.store_tab {
     display: none;

     position: absolute;
     right: 0;
     top: 60px;
     width: 320px;
     padding: 6px 0px;
     flex-direction: column;
     align-items: flex-start;
     gap: 4px;
     border-radius: 14px;
     border: 1px solid #dbdbdb;
     background: #fff;
     box-shadow: 0px 4px 8px 0px #0000000d;
     animation: component 1s ease-in-out;
}

.store_tab-toggle {
     display: block;
}

.store_tab a {
     background: none;
}

.store_tab a:hover {
     font-size: 13.5px;
     background: #f1f1f1;
}

.store_tab-bottom a:first-child:hover {
     font-size: 13px;
     background: none;
}

.store_tab-top {
     display: flex;
     padding: 2px 6px;
     flex-direction: column;
     align-items: flex-start;
     gap: 4px;
     align-self: stretch;
}

.store_tab-top-btn-1 {
     display: flex;
     padding: 4px 12px 4px 8px;
     justify-content: space-between;
     align-items: center;
     align-self: stretch;
     border-radius: 8px;
     background: #f1f1f1;
}

.store_tab-top-btn-1 .store-name {
     display: flex;
     align-items: center;
     gap: 8px;
}

.store_tab-top-btn-1 .store-name div:first-child {
     display: flex;
     padding: 10px;
     justify-content: center;
     align-items: center;
     border-radius: 5.25px;
     background: #36fba1;
     color: #00000066;
     text-align: center;
     font-family: Inter;
     font-size: 10.5px;
     font-style: normal;
     font-weight: 500;
}

.store_tab-top-btn-1 .store-name div:last-child {
     color: #303030;

     font-family: Inter;
     font-size: 13px;
     font-style: normal;
     font-weight: 600;
     line-height: 140%;
}

.store_tab-top-btn-1 svg {
     width: 16px;
     height: 16px;
}

.store_tab-top-btn-2 {
     display: flex;
     padding: 6px;
     align-items: center;
     gap: 8px;
     align-self: stretch;
     border-radius: 8px;
}

.store_tab-top-btn-2 svg {
     width: 20px;
     height: 20px;
     flex-shrink: 0;
}

.store_tab-top-btn-2 span {
     color: #303030;
     font-family: Inter;
     font-size: 13px;
     font-style: normal;
     font-weight: 400;
     line-height: 140%;
}

.store_tab-middle,
.store_tab-bottom {
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 5px;
     align-items: start;
     border-top: 1px solid #e1e1e1;
     padding: 4px;
}

.store_tab-middle a,
.store_tab-bottom a {
     display: flex;
     padding: 6px;
     align-items: center;
     gap: 8px;
     align-self: stretch;
     border-radius: 8px;
     color: #303030;
     font-size: 13px;
     font-style: normal;
     font-weight: 400;
     line-height: 140%;
     transition: all 0.2s ease-in-out;
}

.store_tab-bottom a:first-child {
     display: flex;
     flex-direction: column;
     align-items: start;
}

.store_tab-bottom a span:first-child {
     color: #303030;
     font-size: 13px;
     font-style: normal;
     font-weight: 500;
}

.store_tab-bottom a span:last-child {
     color: #616161;
     font-size: 12px;
     font-style: normal;
     font-weight: 400;
     margin-top: -7px;
}

/* .store_tab-bottom a:focus,
.store_tab-middle a:focus,
.store_tab-top a:focus {
     border: 2px solid #005bd3;
     border-radius: 8px;
} */

.store_item_focus {
     outline: 2px solid #005bd3;
     outline-offset: 2px;
     border-radius: 8px;
     background: #656266;
}

.store_name-hover {
     border-radius: 8px;
     background: #616161;
}

.store_btn span:first-child {
     color: #e3e3e3;
     font-size: 12px;
     font-style: normal;
     font-weight: 500;
     line-height: 130%;
}

.store_btn span:last-child {
     display: flex;
     height: 28px;
     padding: 9px 5px 10px 5px;
     justify-content: center;
     align-items: center;
     border-radius: 6px;
     background: #36fba1;
}

/* MAIN CONTENTS */
.main_wrapper {
     height: 90vh;
     width: 100%;
}

.main_content {
     width: 60%;
     margin: auto;
     margin-top: 3rem;

     display: flex;
     flex-direction: column;
     gap: 20px;
}

.plan_container {
     display: flex;
     gap: 10px;
     width: 100%;
     padding: 12px 8px 12px 16px;
     justify-content: space-between;
     align-items: center;
     border-radius: 8px;
     background: #1a1a1a;
}

.plan_container_left {
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.plan_container_left p {
     color: #e3e3e3;
     font-size: 13px;
     font-style: normal;
     font-weight: 500;
}

.plan_container_left a {
     display: flex;
     padding: 6px 12px;
     align-items: center;
     gap: 8px;
     border-radius: 6px;
     border: 1px solid #0000001a;
     background: var(--White, #fff);
     box-shadow: 0px -1px 0px 0px #b5b5b5 inset;

     color: #323232;
     font-size: 12px;
     font-style: normal;
     font-weight: 600;
     line-height: 130%;
}

.plan_container_left a:focus {
     outline: 2px solid #005bd3;
     outline-offset: 2px;
     border-radius: 8px;
}

.plan_container_right {
     display: flex;
     padding: 6px;
     align-items: flex-start;
     gap: 8px;
     border-radius: 6px;
     background: none;
     cursor: pointer;
}

.guide {
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 20px;
     padding: 16px;

     border-radius: 18px;
     border: 1px solid #dbdbdb;
     background: #fff;
     box-shadow: 0px 1px 0px 0px #0000000d;
}

.guide_header {
     width: 100%;
     display: flex;
     justify-content: space-between;
}

.guide_header_content h1 {
     color: #303030;
     font-size: 14px;
     font-style: normal;
     font-weight: 600;
     line-height: 140%;
}

.guide_header_content {
     display: flex;
     flex-direction: column;
     gap: 10px;
}

.guide_header_content p {
     color: #303030;
     font-size: 13px;
     font-style: normal;
     font-weight: 400;
     line-height: 140%;
}

.guide_header_content .progress_state {
     color: #303030;
     font-size: 12px;
     font-style: normal;
     font-weight: 400;
     line-height: 130%;
}

.progress_state {
     display: flex;
     align-items: center;
     gap: 5px;
}

#progress-bar {
     width: 100px;
     height: 10px;
     border: 1px solid #ccc;
     border-radius: 10px;
     overflow: hidden;
     background: #e3e3e3;
     margin-left: 15px;
}

#progress {
     height: 100%;
     background-color: #1a1a1a;
     transition: width 0.3s ease-in-out;
}

.guide_header_btn button {
     padding: 3px;
     background: none;
     cursor: pointer;
}

.guide_header_btn button:hover {
     border-radius: 8px;
     background: #f1f1f1;
}

.guide_header_btn button svg {
     width: 25px;
     height: 25px;
}

.guide_lists {
     display: flex;
     flex-direction: column;
     gap: 3px;
}

.guide_list_cta {
     display: flex;
     padding: 8px;
     align-items: center;
     gap: 10px;
     align-self: stretch;
     border-radius: 10px;
     cursor: pointer;
     background: none;
}

.container_dash,
.container_mark,
.open_dash,
.open_mark,
.tab_icon,
.container_hover,
.open_hover,
.container_hover {
     cursor: pointer;
     transition: all 0.1s ease-in-out;
     border-radius: 2px;
     outline-offset: 1px;
}

.container_mark,
.open_mark {
     animation: completedAnimation 300ms linear;
}

.container_rotate {
     animation: rotateAnimation 300ms linear;
}

.guide_list_tab {
     display: flex;
     padding: 8px 8px 12px 8px;
     gap: 96px;
     border-radius: 10px;
     background: #f3f3f3;
     transition: all 0.7s ease-in-out;
}

.guide_tab_left {
     display: flex;
     gap: 6px;
     align-items: flex-start;
}

.guide_tab_left_content {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     gap: 20px;
     margin-top: 4px;
}

.guide_tab_left_content h1 {
     color: var(--font-dark, #303030);
     font-size: 13px;
     font-style: normal;
     font-weight: 600;
     line-height: 140%;
}

.guide_tab_left_content p {
     color: var(--font-mid-2, #616161);

     font-size: 13px;
     font-style: normal;
     font-weight: 500;
     line-height: 140%;
}

.guide_tab_left_content p a {
     color: #005bd3;
     font-size: 14px;
     font-style: normal;
     font-weight: 500;
     line-height: 140%;
}

.guide_tab_left_content_flex {
     display: flex;
     gap: 16px;
}

.guide_tab_left_content_btn_2 {
     color: #323232;
     font-size: 12px;
     font-style: normal;
     font-weight: 600;
     line-height: 130%;
     background: none;
     transition: all 0.4s ease-in;
     padding: 5px 8px;
     cursor: pointer;
}

.guide_tab_left_content_btn_2:hover {
     border-radius: 8px;
     background: #e1e1e1 !important;
}

.guide_tab_left_content_btn_1 {
     display: flex;
     padding: 6px 12px;
     align-items: center;
     gap: 8px;
     border-radius: 6px;
     border-top: 1.5px solid #ffffff33;
     border-right: 1.5px solid #ffffff33;
     border-left: 1.5px solid #ffffff33;
     background: #404040;
     box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
          0px 2px 0px 0px #000;
     color: #f6f3f6;

     font-size: 12px;
     font-style: normal;
     font-weight: 600;
     line-height: 130%;
     cursor: pointer;
}

.large_button_hover {
     background: #2a2a2a;
     transition: all 0.6s ease-in;
}

.large_button_focus {
     transition: all 0.3s ease-in;
     outline: 2px solid #005bd3;
     outline-offset: 3.5px;
}

/* TOP NAVIGATION MOBILE SCREEN */
@media screen and (max-width: 900px) {
     .shopify_logo-lg {
          display: none;
     }

     .shopify_logo {
          width: 32px;
          height: 32px;
     }

     .shopify_logo-sm {
          display: block;
     }

     .search_component {
          width: 222px;
     }

     .alerts_component {
          right: -45px;
     }

     .alerts_store {
          gap: 1px;
     }

     .alerts_btn {
          background: none;
     }

     .store_btn {
          background: none;
     }

     .store_name-hover {
          background: none;
     }

     .store_btn span:first-child {
          display: none;
     }

     .main_content {
          width: 100%;
          margin-top: 1.7rem;
     }

     .plan_container {
          border-radius: 0px;
          align-items: flex-start;
     }

     .plan_container_left {
          align-items: start;

          gap: 16px;

          flex-direction: column;
     }

     .guide {
          padding: 12px;
          border-radius: 0px;
     }

     .guide_tab_right {
          display: none !important;
     }
}

@media screen and (max-width: 400px) {
     .alerts_component {
          right: -33px;
          width: 320px;
     }

     .alerts_component-top {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
     }

     .alerts_component-top h3 {
          color: var(--font-dark, var(--grey-g-200, #303030));
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%;
     }
}

.hidden {
     display: none;
}
